.searchnavbar{
    margin-right: 50px;
}

.carrinho{
    margin-right: 20px;
}

.pessoa{
    margin-right: 20px;
}

.corBotao{
    background-color: #DCDCDC !important;
    
}

.produtosVendidos{
    margin-top: 70px;
    margin-bottom: 70px;
}

.botaoProdutos{
    margin-top: 70px;
    margin-bottom: 70px;
}

.textoVideo{
    margin-top: 70px;
    margin-bottom: 50px;
}

.textoSunflower1{
    margin-top: 100px;
}

.textoSunflower2{
    margin-top: 50px;
}

.textoSunflower3{
    margin-top: 50px;
}

.textoDepoimentos{
    margin-top: 100px;
    margin-bottom: 50px;
}

.formulario{
    margin-top: 100px;
    margin-bottom: 50px;
}

.gifLogin{
    margin-top: 100px;
    margin-bottom: 50px;
}

.tituloCarrinho{
    margin-top: 100px;
    margin-bottom: 50px;
}

.botaoCarrinho{
    margin-top: 50px;
    margin-bottom: 50px;
}

.rodapeF{
    padding: 70px;
    background: #ffffff;
}

.textoContato{
   
}

.APIMaps{
    margin-bottom: 50px;
}